<div class="container">
  <div class="title">Registration</div>
  <form (ngSubmit)="onSubmit()" #myForm="ngForm" novalidate>
      <div class="register__data">
        <div class="register__input">
          <span class="register__label">Email</span>
          <input 
            type="email" 
            name="email" 
            placeholder="Enter your email" 
            required
            email
            ngModel
            #email="ngModel"
            >
          <span *ngIf="email.invalid && email.touched" class="my-invalid">Your email is not valid!</span>
        </div>
        <div class="register__input">
          <span class="register__label">Subscription</span>
          <select 
            name="subscription" 
            id="subscription"
            required
            ngModel
            [(ngModel)]="defaultOption">
            <option value="Basic">Basic</option>
            <option value="Advanced">Advanced</option>
            <option value="Pro">Pro</option>
          </select>
        </div>
        <div class="register__input">
          <span class="register__label">Password</span>
          <input 
            type="password" 
            name="password" 
            placeholder="Enter your password" 
            required
            ngModel
            #password="ngModel">
          <span *ngIf="password.invalid && password.touched" class="my-invalid">Your password is not valid!</span>
        </div>
      </div>
      <div class="register__button">
        <input type="submit" value="Submit">
      </div>
  </form>
  <div class="register__modal" #modal>
    <div class="register__modal-content">
      <h4 class="register__modal-title">Register successfully</h4>
      <i class="uil uil-times register__modal-close" (click)="toggleModal()" #closeBtn></i>

      <ul class="register__modal-info grid">
        <li>
          <i class="uil uil-envelope register__modal-icon"></i>
          <p>Email: {{ email.value }}</p>
        </li>
        <li>
          <i class="uil uil-lock register__modal-icon"></i>
          <p>Password: {{ password.value }}</p>
        </li>
        <li>
          <i class="uil uil-bag-alt register__modal-icon"></i>
          <p>Subscription: {{ defaultOption }}</p>
        </li>
      </ul>
    </div>

  </div>
</div>
